    <div class="over-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      {{> header}}
      <!-- блок чата -->
      <div class="container">
      <main class="px-3">
        {{#if userName}}
          <h1>Вы авторизованы!</h1>
          <p class="lead">Для начала общения выберете комнату чата!</p>
        <div class="nav-scroller py-1 mb-2">
          <nav class="nav d-flex justify-content-between" id="RoomsNav">
            {{#each AllRooms}}
                <a class="p-2 link-secondary" href="chat{{urlRooms}}">{{name}}{{url_rooms}}</a>
            {{/each}}
          </nav>
        </div>
        {{else}}
          <h1>Добро пожаловать в мой замечательный чат!</h1>
          <p class="lead">Для начала общения авторизируйтесь и выберете комнату чата!</p>
          <p class="lead">
            <a href="/sign-in" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Авторизоваться!</a>
          </p>
        {{/if}} 
      </main>
      </div>
    <!-- Подключаем jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Подключаем socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    {{!-- И нашу ioшечку туда же но пока не надо а то он почему то отваливает сервер пока контроллеры меняю --}}
    {{!-- <script scr="js/io.js"></script> --}}
    <!-- Подключаем bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" 
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>